redis_images/
ycsb_images/
*.qcow2
results/
bask_snic_log_*
unions/
redis-benchmark-results/
redis-benchmark-logs/
redis_vm_pids/
kernel_logs/
kernel_log*
*.csv
bask_snic_pidstat_*
pcie_bw_log_*
results*/
linux/
*.pdf
*.svg
*.png

*.o
*.o.d
*.ko
*.mod.*
*.mod
*.gcno
*.cmd
*.symvers
modules.order
bask_server